@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,500");
/*	Font Family */
/*	Font Weight */
/*	Colors	*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body, html {
  margin: 0;
  padding: 0; }

b, strong {
  font-weight: bold; }

/*	Misc. */
* {
  color: #444444; }

html, body {
  font-size: 16px;
  overflow-x: hidden; }

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto; }

.container-large {
  padding-left: 5% !important;
  padding-right: 5% !important; }

h1, h2 {
  font-size: 1.5625em;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.3;
  color: #444444; }

h3 {
  font-size: 1.125em;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif; }

p {
  font-size: 0.875em;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  line-height: 1.3;
  margin-bottom: 1.25rem; }
  p:first-of-type {
    margin-top: 0; }
  p:last-of-type {
    margin-bottom: 0; }

.button-container {
  text-align: center;
  margin: 0 auto; }

.button {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 0.875em;
  padding: 0.9375rem 2.1875rem;
  border: 0.125rem solid #444444;
  box-sizing: border-box;
  display: inline-block;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  cursor: pointer; }
  .button:hover {
    background-color: #444444;
    color: #fefefe; }
  .button.button-reverse {
    background-color: #444444;
    color: #fefefe; }
    .button.button-reverse:hover {
      color: #444444;
      background-color: transparent; }

.section-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover; }
  .triangle.triangle-right {
    background-image: url(../images/triangle-right.png);
    background-position: right bottom; }
    .triangle.triangle-right.triangle-dark {
      background-image: url(../images/triangle-right-dark.png); }
  .triangle.triangle-left {
    background-image: url(../images/triangle-left.png);
    background-position: left bottom; }
    .triangle.triangle-left.triangle-dark {
      background-image: url(../images/triangle-left-dark.png); }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.46875rem 0;
  display: inline-block;
  z-index: 999;
  transition: background-color ease-in-out 0.4s; }
  header * {
    transition: opacity ease-in-out 0.25s; }
  header .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header nav {
    background-color: transparent;
    display: inline-block;
    width: calc(100% - 19rem);
    vertical-align: middle; }
    header nav ul {
      margin: 0;
      padding: 0;
      background-color: #1d1d1d;
      transition: padding ease-in-out 0.2s;
      width: 100%;
      z-index: 999; }
      header nav ul li {
        list-style: none;
        float: left; }
        header nav ul li a {
          color: white;
          font-size: 0.8125em;
          font-family: "Raleway", sans-serif;
          display: block;
          text-transform: uppercase;
          padding: 0.625rem 1.5625rem;
          letter-spacing: 0.0625rem;
          width: auto; }
          header nav ul li a:hover {
            color: #a2a2a2; }
        header nav ul li:first-of-type a {
          padding-left: 0; }
        header nav ul li:last-of-type {
          margin-right: 0; }
        header nav ul li.menu-item-has-children {
          position: relative; }
          header nav ul li.menu-item-has-children ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: transparent; }
            header nav ul li.menu-item-has-children ul li {
              margin: 0;
              padding: 0;
              width: 100%;
              position: static; }
              header nav ul li.menu-item-has-children ul li a {
                padding: 1.25rem 1.5625rem;
                background-color: #1d1d1d; }
                header nav ul li.menu-item-has-children ul li a:hover {
                  background-color: #444444;
                  color: white; }
                header nav ul li.menu-item-has-children ul li a:after {
                  display: none; }
              header nav ul li.menu-item-has-children ul li ul {
                left: 100%;
                top: 0; }
                header nav ul li.menu-item-has-children ul li ul li a {
                  background-color: white;
                  color: #7a7a7a;
                  width: 100%; }
                  header nav ul li.menu-item-has-children ul li ul li a:hover {
                    background-color: white;
                    color: #7a7a7a;
                    text-decoration: underline;
                    color: black; }
          header nav ul li.menu-item-has-children > a:after {
            content: '+';
            font-size: 1.75rem;
            position: absolute;
            top: 0.1875rem;
            font-weight: 300;
            margin-left: 0.125rem; }
  header #mobile-menu {
    display: none; }
  header #header-phone {
    color: #cbccce;
    margin: 0rem 0.9375rem 0rem 0;
    vertical-align: middle;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0.0625rem; }
    header #header-phone img {
      height: 0.8125rem;
      margin-right: 0.46875rem; }
    header #header-phone:hover {
      color: #fefefe; }
  header #logo {
    width: 9.6875rem;
    height: auto;
    display: inline-block;
    vertical-align: middle; }
    header #logo svg {
      width: 100%;
      height: 100%;
      fill: white; }

body.sticky header, body:not(.home) header {
  background-color: #1d1d1d; }
  body.sticky header nav ul li.menu-item-has-children ul, body:not(.home) header nav ul li.menu-item-has-children ul {
    padding-top: 2.3125rem; }

body:not(.home) header {
  position: relative; }

body:not(.home) main {
  padding: 1.875rem 0 0; }

body.sticky header #logo svg {
  fill: #cbccce; }

/*	Homepage	*/
.main-banner {
  position: relative; }
  .main-banner .triangle {
    z-index: 5; }
    .main-banner .triangle.triangle-left {
      background-size: 30%; }
    .main-banner .triangle.triangle-right {
      background-size: 75%; }
  .main-banner .banner-slide .slide-image {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
    .main-banner .banner-slide .slide-image:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.6); }
  .main-banner .banner-slide .banner-content {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    z-index: 2; }
    .main-banner .banner-slide .banner-content p {
      color: rgba(255, 255, 255, 0.7);
      font-weight: 300;
      max-width: 29.375rem;
      font-size: 1.0625em; }
      .main-banner .banner-slide .banner-content p.banner-counter {
        font-size: 0.9375em;
        font-weight: 700;
        margin: 0;
        color: white; }
        .main-banner .banner-slide .banner-content p.banner-counter span {
          font-size: 0.9375rem;
          color: white;
          font-weight: regular; }
      .main-banner .banner-slide .banner-content p.banner-title {
        margin: 0 0 0.9375rem;
        font-size: 2.8125em;
        font-family: "Noto Sans", sans-serif;
        font-weight: 700;
        max-width: 46.875rem;
        color: white; }
    .main-banner .banner-slide .banner-content .button {
      color: white;
      border-color: white;
      margin-top: 1.5625rem; }
      .main-banner .banner-slide .banner-content .button:hover {
        background-color: white;
        color: #444444; }

/*	About	*/
#home-about {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  #home-about .triangle {
    background-size: 30%;
    opacity: 0.7; }
  #home-about .container-large {
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    padding: 9.375rem 0;
    padding-right: 10% !important; }
    #home-about .container-large h2 {
      font-family: "Raleway", sans-serif;
      font-weight: 300;
      margin: 0 0 1.5625rem; }
    #home-about .container-large p {
      color: #a2a2a2; }
    #home-about .container-large .button {
      margin-top: 4.375rem; }
  #home-about .section-image {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

/*	Testimonials	*/
#home-testimonials {
  padding: 6.875rem 0;
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden; }
  #home-testimonials:before, #home-testimonials:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(../images/overlay-diamond.png);
    background-position: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    pointer-events: none; }
  #home-testimonials:before {
    left: 50%; }
  #home-testimonials:after {
    left: -50%; }
  #home-testimonials .container {
    text-align: center;
    max-width: 31.25rem; }
  #home-testimonials .flickity-page-dots {
    display: none; }
  #home-testimonials p {
    font-size: 2.0625em;
    font-family: "Noto Sans", sans-serif;
    font-style: italic;
    margin: 0; }

/*	Products	*/
#home-products {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #home-products #products-wrapper {
    padding: 6.25rem 0 9.375rem;
    -webkit-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%; }
    #home-products #products-wrapper h2 {
      margin: 0 0 2.1875rem; }
    #home-products #products-wrapper .product-type {
      margin-bottom: 4.375rem; }
      #home-products #products-wrapper .product-type img {
        height: 2.8125em;
        display: inline-block;
        margin-right: 0.9375rem; }
      #home-products #products-wrapper .product-type h3 {
        margin: 0 0 1.25rem;
        display: inline-block; }
      #home-products #products-wrapper .product-type .product-listing {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin: 0;
        padding: 0; }
        #home-products #products-wrapper .product-type .product-listing li {
          -webkit-flex: 0 0 25%;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          list-style: none;
          margin: 0.625rem 0;
          padding-right: 0.625rem;
          box-sizing: border-box; }
          #home-products #products-wrapper .product-type .product-listing li a {
            font-family: "Raleway", sans-serif;
            font-weight: 300;
            padding: 0.3125rem 0;
            -webkit-transition: all ease-in-out 0.2s;
            -moz-transition: all ease-in-out 0.2s;
            -ms-transition: all ease-in-out 0.2s; }
            #home-products #products-wrapper .product-type .product-listing li a:hover {
              color: #cbccce; }
      #home-products #products-wrapper .product-type:last-of-type {
        margin-bottom: 0; }
  #home-products .section-image {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

/*	Services	*/
#home-services {
  background-color: #f8f8f8;
  padding: 7.1875rem 0 8.125rem;
  position: relative; }
  #home-services:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(../images/overlay-diamond.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    pointer-events: none; }
  #home-services h2 {
    margin: 0 0 2.8125rem; }
  #home-services #services-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #home-services #services-wrapper .service {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      #home-services #services-wrapper .service .service-content {
        display: inline-block;
        margin: 0 auto;
        text-align: left; }
      #home-services #services-wrapper .service img {
        height: 2.5rem; }
      #home-services #services-wrapper .service h3 {
        margin: 0.9375rem 0 0.625rem; }
      #home-services #services-wrapper .service p {
        max-width: 13.75rem; }
  #home-services .button-container {
    margin-top: 3.4375rem; }

/*	Projects	*/
#home-projects {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #home-projects #projects-image {
    -webkit-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all ease-in-out 0.2s; }
    #home-projects #projects-image:before {
      background-color: rgba(0, 0, 0, 0.5);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    #home-projects #projects-image p {
      font-size: 2.5em;
      color: white;
      font-weight: 700;
      font-family: "Noto Sans", sans-serif;
      z-index: 5;
      margin: 0 auto;
      text-align: center; }
      #home-projects #projects-image p:after {
        content: '';
        height: 0.1875rem;
        width: 6.25rem;
        background-color: white;
        display: block;
        margin: 1.875rem auto 0; }
    #home-projects #projects-image:hover {
      opacity: 0.9; }
  #home-projects .container-large {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 10% !important;
    padding: 8.125rem 0 10rem;
    position: relative; }
    #home-projects .container-large .triangle {
      opacity: 0.5; }
      #home-projects .container-large .triangle.triangle-left {
        background-size: 60%; }
      #home-projects .container-large .triangle.triangle-right {
        background-size: 75%; }
    #home-projects .container-large h2 {
      margin: 0 0 4.0625rem; }
    #home-projects .container-large h3 {
      margin: 0 0 1.25rem; }
    #home-projects .container-large p {
      opacity: 0.7;
      max-width: 20.625rem; }
      #home-projects .container-large p.project-counter {
        font-size: 0.75em;
        margin: 0 0 0.9375rem;
        opacity: 1; }
        #home-projects .container-large p.project-counter span {
          font-weight: 700;
          font-size: 0.9375rem; }
    #home-projects .container-large .button {
      margin-top: 2.5rem; }
    #home-projects .container-large .carousel {
      position: static;
      z-index: 3; }
      #home-projects .container-large .carousel .flickity-prev-next-button {
        display: block;
        border-radius: 0;
        bottom: 0;
        top: initial;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        width: 5rem;
        height: 5rem;
        background-color: white;
        z-index: 4; }
        #home-projects .container-large .carousel .flickity-prev-next-button svg {
          stroke: #1d1d1d;
          fill: #1d1d1d;
          stroke-width: 0.3125rem;
          width: 50%;
          height: 50%;
          top: 30%;
          left: 25%; }
        #home-projects .container-large .carousel .flickity-prev-next-button.previous {
          right: 5rem;
          left: initial;
          border-right: 0.0625rem solid black; }
        #home-projects .container-large .carousel .flickity-prev-next-button.next {
          right: 0; }

/*	Partners	*/
#home-partners {
  background-color: #f8f8f8;
  padding: 5.3125rem 0; }
  #home-partners .flickity-viewport {
    overflow: visible; }
  #home-partners .carousel-cell {
    width: 21%;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    #home-partners .carousel-cell img {
      max-width: 50%; }

/*	Contact	*/
#home-contact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #home-contact .container-large {
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    padding-right: 10%;
    padding: 8.4375rem 0; }
    #home-contact .container-large h2 {
      margin: 0 0 1.5625rem; }
    #home-contact .container-large h3 {
      margin: 2.1875rem 0 1.25rem; }
  #home-contact #contact-map {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

/*	Secondary Pages	*/
/*	About Page	*/
#about-page {
  padding-top: 0; }
  #about-page h2 {
    font-size: 2.8125em;
    margin: 0 0 2.1875rem; }
  #about-page h3 {
    font-size: 1.5625em; }
  #about-page p {
    font-size: 1.5em; }
  #about-page .main-banner p {
    font-size: 1.0625em; }
    #about-page .main-banner p.banner-counter {
      font-size: 0.9375em; }
    #about-page .main-banner p.banner-title {
      font-size: 2.8125em; }
  #about-page .main-banner .banner-slide .slide-image {
    height: calc(100vh - 6.875rem); }
  #about-page #about-main {
    background-color: #f8f8f8;
    padding: 9.375rem 0;
    position: relative; }
    #about-page #about-main .triangle {
      z-index: 5;
      background-size: 30%; }
    #about-page #about-main .container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      #about-page #about-main .container h2 {
        -webkit-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        padding-right: 30%; }
      #about-page #about-main .container p {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; }
        #about-page #about-main .container p:first-of-type {
          margin-top: 4.375rem; }
  #about-page #about-secondary .container {
    position: relative; }
    #about-page #about-secondary .container .content-container {
      padding: 9.375rem 0;
      width: 40%;
      padding-left: 60%; }
    #about-page #about-secondary .container .section-image {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      width: 55%;
      height: 0;
      padding-bottom: 70%;
      position: absolute;
      left: 0;
      bottom: 3.125rem;
      z-index: 6; }
  #about-page #about-projects {
    background-color: #f8f8f8; }
    #about-page #about-projects #project-wrapper {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      #about-page #about-projects #project-wrapper #project-content {
        -webkit-flex: 0 0 40%;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        padding-right: 15%;
        margin-top: 14.375rem; }
      #about-page #about-projects #project-wrapper .section-image {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; }
    #about-page #about-projects .projects-slider {
      max-width: 26.25rem; }
      #about-page #about-projects .projects-slider h4 {
        font-family: "Noto Sans", sans-serif;
        font-size: 1.125em;
        font-weight: 400; }
      #about-page #about-projects .projects-slider p {
        font-size: 0.875em; }
      #about-page #about-projects .projects-slider .button {
        margin-top: 2.5rem; }

/*	Services Page	*/
#services-page h1 {
  margin-bottom: 5rem; }

#services-page .service-wrapper {
  position: relative; }
  #services-page .service-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/triangle-piece.png);
    opacity: 0.05;
    background-position: bottom left; }
  #services-page .service-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/triangle-piece.png);
    opacity: 0.05; }
  #services-page .service-wrapper .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #services-page .service-wrapper .container .section-image {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    #services-page .service-wrapper .container .service-content {
      -webkit-flex: 0 0 42.5%;
      -ms-flex: 0 0 42.5%;
      flex: 0 0 42.5%;
      padding: 5.625rem 0 9.375rem 7.5%; }
      #services-page .service-wrapper .container .service-content img {
        max-height: 2.5rem; }
      #services-page .service-wrapper .container .service-content h2 {
        margin: 2.1875rem 0 2.8125rem; }
      #services-page .service-wrapper .container .service-content h3 {
        margin: 0 0 1.25rem;
        font-size: 1.5em;
        color: #7a7a7a;
        opacity: 0.6;
        font-weight: 300;
        font-family: "Raleway", sans-serif;
        line-height: 1.3; }
      #services-page .service-wrapper .container .service-content p {
        color: #7a7a7a;
        opacity: 0.6; }
  #services-page .service-wrapper:first-of-type:after {
    display: none; }
  #services-page .service-wrapper:nth-of-type(even) {
    background-color: #f8f8f8; }
    #services-page .service-wrapper:nth-of-type(even):before {
      background-position: bottom left;
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg); }
    #services-page .service-wrapper:nth-of-type(even):after {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      background-position: bottom left; }
    #services-page .service-wrapper:nth-of-type(even) .section-image {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    #services-page .service-wrapper:nth-of-type(even) .service-content {
      padding: 5.625rem 7.5% 9.375rem 0; }
  #services-page .service-wrapper:nth-of-type(odd):after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: bottom left; }
  #services-page .service-wrapper:last-of-type:before {
    display: none; }

#services-page .content-blurb {
  background-color: #efefef;
  padding: 7.8125rem 0 5.3125rem; }
  #services-page .content-blurb p {
    font-size: 2em;
    font-style: italic;
    font-family: "Noto Sans", sans-serif; }
  #services-page .content-blurb .button {
    margin-top: 2.5rem; }

/*	Contact Page	*/
#contact-page .triangle {
  opacity: 0.7; }

#contact-page h1 {
  margin-bottom: 5rem; }

#contact-page #contact-about .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #contact-page #contact-about .container #about-content {
    -webkit-flex: 0 0 42.5%;
    -ms-flex: 0 0 42.5%;
    flex: 0 0 42.5%;
    padding: 4.375rem 7.5% 2.5rem 0;
    position: relative; }
    #contact-page #contact-about .container #about-content p {
      max-width: 16.25rem;
      color: #a2a2a2; }
    #contact-page #contact-about .container #about-content #contact-location {
      text-align: right;
      margin-top: 35.5%; }
      #contact-page #contact-about .container #about-content #contact-location p {
        max-width: 100%;
        color: #1d1d1d; }
  #contact-page #contact-about .container .section-image {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

#contact-page #contact-hours {
  background-color: #efefef; }
  #contact-page #contact-hours .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #contact-page #contact-hours .container #contact-map {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    #contact-page #contact-hours .container #hours-content {
      -webkit-flex: 0 0 42.5%;
      -ms-flex: 0 0 42.5%;
      flex: 0 0 42.5%;
      padding: 4.375rem 0 25% 7.5%;
      background-color: white;
      position: relative;
      z-index: 2; }
      #contact-page #contact-hours .container #hours-content h3 {
        margin: 0 0 1.25rem;
        font-size: 1.25em; }

/*	Single Product Page	*/
#product-page h1 {
  margin-bottom: 5.625rem; }

#product-page #product-description {
  width: 40%;
  max-width: 17.5rem; }
  #product-page #product-description p {
    color: #a2a2a2; }
  #product-page #product-description #related-projects {
    margin: 3.75rem 0 50%; }
    #product-page #product-description #related-projects h3 {
      margin: 0 0 0.625rem; }
    #product-page #product-description #related-projects p {
      margin: 0 0 0.625rem; }
      #product-page #product-description #related-projects p a {
        text-decoration: underline;
        text-transform: capitalize; }

#product-page #product-slider-wrapper {
  background-color: #f8f8f8;
  padding: 2.8125rem 0 5.625rem; }
  #product-page #product-slider-wrapper .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    #product-page #product-slider-wrapper .container #product-slider-container {
      position: absolute;
      right: -1.875rem;
      bottom: -1.875rem;
      width: 60%;
      padding: 0 1.875rem 1.875rem 0; }
      #product-page #product-slider-wrapper .container #product-slider-container #product-slider {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2; }
        #product-page #product-slider-wrapper .container #product-slider-container #product-slider .section-image {
          height: 0;
          padding-bottom: 120%;
          width: 100%; }
      #product-page #product-slider-wrapper .container #product-slider-container .triangle {
        background-size: 80%;
        opacity: 0.5;
        top: 0;
        right: 0;
        z-index: 99; }
    #product-page #product-slider-wrapper .container #product-slider-nav {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      -webkit-flex: 0 0 30%;
      -ms-flex: 0 0 30%;
      flex: 0 0 30%;
      padding-right: 10%;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      #product-page #product-slider-wrapper .container #product-slider-nav .section-image {
        -webkit-flex: 0 0 47.5%;
        -ms-flex: 0 0 47.5%;
        flex: 0 0 47.5%;
        height: 0;
        padding-bottom: 47.5%;
        cursor: pointer;
        opacity: 0.7;
        transition: all ease-in-out 0.2s; }
        #product-page #product-slider-wrapper .container #product-slider-nav .section-image:nth-of-type(even) {
          margin: 0 0 5% 5%; }
        #product-page #product-slider-wrapper .container #product-slider-nav .section-image:last-of-type {
          margin-bottom: 0; }
        #product-page #product-slider-wrapper .container #product-slider-nav .section-image:hover, #product-page #product-slider-wrapper .container #product-slider-nav .section-image.is-selected {
          opacity: 1; }

#product-page #product-blurb {
  padding: 7.8125rem 0 6.875rem;
  position: relative;
  text-align: center; }
  #product-page #product-blurb:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/overlay-diamond.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: 2;
    pointer-events: none; }
  #product-page #product-blurb p {
    font-style: italic;
    font-family: "Noto Sans", sans-serif;
    font-size: 2em;
    max-width: 34.375rem;
    margin: 0 auto; }
  #product-page #product-blurb .button {
    margin-top: 2.8125rem; }

/*	Single Project Page	*/
#project-page #project-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4.0625rem;
  margin-bottom: 3.125rem;
  border-bottom: 0.125rem solid #a2a2a2; }
  #project-page #project-info h1 {
    margin-bottom: 2.5rem; }
  #project-page #project-info h2 {
    -webkit-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
    font-size: 1.0625em;
    margin-top: 0;
    line-height: 1; }
  #project-page #project-info h3 {
    font-size: 1.0625em;
    margin: 0 0 1.875rem; }
  #project-page #project-info p {
    color: #mediumgrey; }
  #project-page #project-info a {
    color: #a2a2a2; }
  #project-page #project-info #project-products {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    #project-page #project-info #project-products p {
      margin: 0 0 0.3125rem; }
      #project-page #project-info #project-products p a {
        text-transform: capitalize; }
  #project-page #project-info #project-overview {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.grid-item {
  width: 48.5%;
  margin-bottom: 3%; }

.gutter-sizer {
  width: 3%; }

/*	Projects Archive	*/
#project-archive h1 {
  margin-bottom: 2.1875rem; }

#project-archive #products-container {
  padding: 2.8125rem 0 1.875rem;
  border-top: 0.0625rem solid #a2a2a2;
  border-bottom: 0.0625rem solid #a2a2a2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #project-archive #products-container button {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 0.875em;
    border: none;
    background-color: transparent;
    padding: 0;
    text-align: left;
    margin-bottom: 0.9375rem;
    cursor: pointer;
    -webkit-flex: 0 0 23%;
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    margin: 0 2% 0.9375rem 0; }
    #project-archive #products-container button:hover, #project-archive #products-container button.active {
      text-decoration: underline; }
    #project-archive #products-container button:focus {
      outline: none; }

#project-archive #products-navigation {
  display: none; }
  #project-archive #products-navigation h4 {
    text-align: center;
    font-family: "Raleway", sans-serif; }

#project-archive #projects-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto !important;
  min-height: 37.5rem;
  padding: 3.75rem 0 4.375rem; }
  #project-archive #projects-container h2 {
    margin: 0 0 1.25rem; }
  #project-archive #projects-container .archive-project {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 47.5%;
    position: static !important; }
    #project-archive #projects-container .archive-project:nth-of-type(odd) {
      padding-right: 5%; }
    #project-archive #projects-container .archive-project .section-image {
      padding-bottom: 65%;
      display: block;
      position: relative;
      overflow: hidden; }
      #project-archive #projects-container .archive-project .section-image .project-overlay {
        width: 95%;
        height: 95%;
        position: absolute;
        bottom: 13%;
        left: 10%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/projects-overlay.png);
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        opacity: 0;
        transition: opacity ease-in-out 0.3s; }
        #project-archive #projects-container .archive-project .section-image .project-overlay span {
          font-family: "Raleway", sans-serif;
          font-size: 0.75em;
          text-transform: uppercase;
          margin: 0 0.9375rem 0.9375rem 1.25rem; }
        #project-archive #projects-container .archive-project .section-image .project-overlay img {
          width: 50%;
          max-width: 5rem;
          display: inline-block;
          margin-left: 0.9375rem; }
      #project-archive #projects-container .archive-project .section-image:hover .project-overlay {
        opacity: 1; }

/*	Footer	*/
footer {
  background-color: #f8f8f8;
  background-image: url(../images/overlay-diamond.png);
  background-repeat: no-repeat;
  background-position: center 201%;
  background-size: 26.75rem; }
  footer #footer-pods {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 4.6875rem 0 1.5625rem; }
    footer #footer-pods .footer-pod {
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2; }
      footer #footer-pods .footer-pod h4 {
        font-weight: 700;
        font-size: 0.875em;
        font-family: "Noto Sans", sans-serif;
        margin: 0 0 1.875rem;
        text-transform: uppercase; }
      footer #footer-pods .footer-pod p {
        color: #7d7d7d;
        max-width: 16.25rem;
        font-size: 0.875em; }
      footer #footer-pods .footer-pod ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        footer #footer-pods .footer-pod ul li {
          margin-bottom: 0.875rem; }
          footer #footer-pods .footer-pod ul li a {
            font-size: 0.875em;
            color: #7d7d7d;
            font-weight: 300;
            font-family: "Raleway", sans-serif; }
            footer #footer-pods .footer-pod ul li a:hover {
              color: #1d1d1d; }
          footer #footer-pods .footer-pod ul li:last-of-type {
            margin-bottom: 0; }
      footer #footer-pods .footer-pod a[href^="mailto"] {
        text-decoration: underline; }
      footer #footer-pods .footer-pod.footer-links {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        footer #footer-pods .footer-pod.footer-links .links-wrapper {
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1; }
      footer #footer-pods .footer-pod:first-of-type {
        -webkit-flex: 0 0 35%;
        -ms-flex: 0 0 35%;
        flex: 0 0 35%; }
      footer #footer-pods .footer-pod:last-of-type {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; }
  footer #footer-about {
    border-top: 0.0625rem solid #cbccce; }
    footer #footer-about .container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 1.5625rem 0 1.875rem; }
      footer #footer-about .container > * {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; }
        footer #footer-about .container > *#footer-social {
          text-align: center; }
          footer #footer-about .container > *#footer-social a {
            margin-right: 1.25rem; }
            footer #footer-about .container > *#footer-social a i {
              font-size: 1.125em;
              color: #7a7a7a; }
              footer #footer-about .container > *#footer-social a i:hover {
                color: #a2a2a2; }
            footer #footer-about .container > *#footer-social a:last-of-type {
              margin-right: 0; }
        footer #footer-about .container > *#footer-thrive {
          text-align: right; }
      footer #footer-about .container p {
        margin: 0;
        font-size: 0.75em; }
        footer #footer-about .container p a {
          font-weight: 700; }
          footer #footer-about .container p a:hover {
            color: #a2a2a2; }

/*	Plugins	*/
.carousel-cell {
  width: 100%; }

.flickity-page-dots, .flickity-prev-next-button {
  display: none; }

/*	Flickity Fade	*/
.flickity-fade .flickity-slider {
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important; }
  .flickity-fade .flickity-slider .carousel-cell {
    left: 0 !important;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1; }
    .flickity-fade .flickity-slider .carousel-cell.is-selected {
      opacity: 1;
      z-index: 0; }

/*	Google Maps API	*/
a[href^="http://maps.google.com/maps"] {
  display: none !important; }

a[href^="https://maps.google.com/maps"] {
  display: none !important; }

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none; }

.gmnoprint div {
  background: none !important; }

@media only screen and (max-width: 1200px) {
  #home-about {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #home-about .section-image {
      padding-bottom: 56.25%; }
    #home-about .container-large {
      padding: 2.5rem 0; }
  #home-products {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #home-products #products-wrapper {
      padding-bottom: 6.25rem; }
    #home-products .section-image {
      padding-bottom: 56.25%; } }

@media only screen and (max-width: 1030px) {
  #about-page #about-main .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #project-archive .container #products-container button {
    -webkit-flex: 0 0 31.33%;
    -ms-flex: 0 0 31.33%;
    flex: 0 0 31.33%; } }

@media only screen and (min-width: 960px) {
  header nav ul li.menu-item-has-children:hover > ul {
    display: block; } }

@media only screen and (max-width: 960px) {
  header nav {
    position: absolute;
    top: 100%;
    left: -100%;
    padding: 0.625rem 0 0.625rem 5%;
    box-sizing: border-box;
    width: 100%;
    background-color: #1d1d1d;
    transition: all ease-in-out 0.3s; }
    header nav ul li a:hover {
      background-color: #1d1d1d !important; }
    header nav ul > li {
      float: none; }
      header nav ul > li > a {
        padding: 0.9375rem 0; }
        header nav ul > li > a:after {
          top: 0.625rem !important;
          right: 5%; }
      header nav ul > li > ul {
        position: static !important;
        display: none;
        padding: 0 !important; }
        header nav ul > li > ul > li > a {
          padding: 0.625rem 0 0.625rem 1.25rem !important;
          font-size: 0.6875em; }
  header #mobile-menu {
    display: block;
    width: 1.875rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    cursor: pointer; }
    header #mobile-menu span {
      width: 100%;
      height: 2px;
      background-color: white;
      position: absolute;
      transition: all ease-in-out 0.3s;
      right: 0;
      display: block; }
      header #mobile-menu span:first-child {
        top: 0; }
      header #mobile-menu span + span {
        top: 50%; }
      header #mobile-menu span:last-child {
        top: 100%; }
  header.active {
    background-color: #1d1d1d; }
    header.active nav {
      left: 0; }
    header.active #mobile-menu span:first-of-type {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 50%; }
    header.active #mobile-menu span:nth-of-type(2) {
      right: -1.25rem;
      width: 0;
      opacity: 0; }
    header.active #mobile-menu span:last-of-type {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 50%; }
  #home-products #products-wrapper .product-type .product-listing li {
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%; }
  #about-page #about-secondary {
    padding: 2.5rem 0 5rem; }
    #about-page #about-secondary .container .content-container {
      padding: 2.5rem 0;
      width: 100%; }
    #about-page #about-secondary .container .section-image {
      position: static;
      width: 100%;
      padding: 0 0 100% 0;
      background-size: contain; }
  #about-page #about-projects {
    padding: 2.5rem 0 5rem; }
    #about-page #about-projects .container #project-wrapper {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      #about-page #about-projects .container #project-wrapper #project-content {
        padding: 2.5rem 0 1.875rem;
        margin: 0;
        width: 100%; }
      #about-page #about-projects .container #project-wrapper .section-image {
        width: 100%;
        padding: 0 0 85% 0;
        background-size: contain; }
  footer #footer-pods {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    footer #footer-pods .footer-pod h4 {
      margin: 2.5rem 0 0.625rem; }
    footer #footer-pods .footer-pod:first-of-type h4 {
      margin-top: 0; }
    footer #footer-pods .footer-links {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      footer #footer-pods .footer-links .links-wrapper ul li {
        margin: 0.3125rem 0; } }

@media only screen and (max-width: 900px) {
  #project-archive #projects-container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #project-archive #projects-container .archive-project {
      max-width: 100%; }
    #project-archive #projects-container .archive-project:nth-of-type(odd) {
      padding: 0; } }

@media only screen and (max-width: 780px) {
  #home-contact {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #home-contact #contact-map {
      padding-bottom: 56.25%; }
    #home-contact .container-large {
      padding: 1.875rem 0; }
  #home-partners .carousel-cell img {
    max-width: 75%; }
  #project-archive .container #products-container button {
    -webkit-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%; }
  #services-page .container h1 {
    margin-bottom: 1.25rem; }
  #services-page #services-container .service-wrapper:nth-of-type(even) .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #services-page #services-container .service-wrapper .container {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    #services-page #services-container .service-wrapper .container .section-image {
      padding-bottom: 100%;
      margin-bottom: 0.625rem; }
    #services-page #services-container .service-wrapper .container .service-content {
      padding: 2.5rem 0; }
  #contact-page .container {
    width: 100%; }
    #contact-page .container h1 {
      margin: 0 0 0 5%; }
  #contact-page #contact-about .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #contact-page #contact-about .container #about-content {
      padding: 0 5% 2.5rem; }
      #contact-page #contact-about .container #about-content #contact-location {
        text-align: left; }
    #contact-page #contact-about .container .section-image {
      padding-bottom: 56.25%; }
  #contact-page #contact-hours .container {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    #contact-page #contact-hours .container #contact-map {
      padding-bottom: 56.25%; }
    #contact-page #contact-hours .container #hours-content {
      padding: 2.5rem 5%; }
  #contact-page .triangle {
    left: 35px; }
  #product-page .container h1 {
    margin-bottom: 2.5rem; }
  #product-page .container #product-description {
    width: 100%;
    max-width: 100%; }
    #product-page .container #product-description #related-projects {
      margin: 0 0 2.5rem; }
  #product-page #product-slider-wrapper .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #product-page #product-slider-wrapper .container #product-slider-container {
      position: initial;
      width: 100%;
      max-width: 22.5rem;
      margin: 0 auto;
      padding: 0 0 1.875rem; }
      #product-page #product-slider-wrapper .container #product-slider-container .triangle {
        display: none; }
    #product-page #product-slider-wrapper .container #product-slider-nav {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0; }
      #product-page #product-slider-wrapper .container #product-slider-nav .section-image {
        -webkit-flex: 0 0 21.25%;
        -ms-flex: 0 0 21.25%;
        flex: 0 0 21.25%;
        margin: 0 0 0 5%;
        padding-bottom: 22%; }
        #product-page #product-slider-wrapper .container #product-slider-nav .section-image:nth-of-type(even) {
          margin: 0 0 0 5%; }
        #product-page #product-slider-wrapper .container #product-slider-nav .section-image:first-of-type {
          margin: 0; }
  #project-page .container #project-info {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #project-page .container #project-info h3 {
      margin-bottom: 0.625rem; }
    #project-page .container #project-info #project-products {
      margin: 1.875rem 0 1.25rem; }
  .grid-item {
    width: 100% !important; } }

@media only screen and (max-width: 680px) {
  #home-testimonials {
    font-size: 12px;
    padding: 3.125rem; }
  #home-services {
    text-align: center; }
    #home-services #services-wrapper {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      #home-services #services-wrapper .service {
        margin: 0 0 2.5rem 0 !important;
        text-align: center; }
        #home-services #services-wrapper .service .service-content {
          text-align: center; }
        #home-services #services-wrapper .service:last-of-type {
          margin-bottom: 0 !important; } }

@media only screen and (max-width: 560px) {
  .main-banner .banner-slide .slide-image {
    height: auto !important; }
  .main-banner .banner-slide .banner-content {
    font-size: 12px;
    position: relative;
    padding: 50% 0; }
  #project-archive #products-navigation {
    display: block; }
  #project-archive .container #products-container {
    overflow: scroll;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 2.1875rem 0; }
    #project-archive .container #products-container button {
      margin: 0;
      text-align: center; }
  #header-contact {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #header-contact #logo {
      width: 7.1875rem; } }

@media only screen and (max-width: 420px) {
  #home-products #products-wrapper .product-type .product-listing {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #home-products #products-wrapper .product-type .product-listing li {
      -webkit-flex: 0 0 46%;
      -ms-flex: 0 0 46%;
      flex: 0 0 46%; }
  #home-partners {
    padding: 1.875rem 0; }
    #home-partners .carousel-cell {
      width: 34%; }
  #home-services #services-wrapper .service {
    margin-left: 12%; }
    #home-services #services-wrapper .service:first-of-type {
      margin-left: 2%; }
  #about-page h2 {
    font-size: 2em !important; }
  #about-page p {
    font-size: 1.125em; }
  #about-page #about-main {
    padding: 6.25rem 0; }
    #about-page #about-main .container h2 {
      font-size: 2em; }
    #about-page #about-main .container p:first-of-type {
      margin: 0; }
  #services-page .content-blurb .container p {
    font-size: 22px;
    text-align: center; }
  footer #footer-about .container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    footer #footer-about .container #footer-social {
      text-align: left;
      margin: 0.9375rem 0; }
    footer #footer-about .container #footer-thrive {
      text-align: left; } }

@media only screen and (max-width: 320px) {
  #home-services {
    padding: 4.375rem 0; }
    #home-services #services-wrapper .service:first-of-type {
      margin-left: 0; }
  #home-products #products-wrapper .product-type .product-listing li a {
    font-size: 0.8125em; }
  #contact-page .triangle {
    left: 0; }
  #project-archive .container #products-container {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    box-sizing: border-box; }
    #project-archive .container #products-container button {
      margin: 0 10% 0 0;
      white-space: nowrap;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto; }
  #header-contact #header-phone {
    font-size: 0.75em; }
  #header-contact #logo {
    width: 5.625rem; } }
