.row {
	display:inline-block;
	width:100%;
}

.col {
	width: 100%;
	float: left;
	margin-right: 1%;

	&:last-of-type {
		margin-right: 0;
	}
}

.col-2 {
	width: 49.5%;
}

.col-3 {
	width: 32.666%;
}

.col-4 {
	width: 24.25%;
}

.col-5 {
	width: 19.2%;
}

.col-6 {
	width: 15.833%;
}

