/*	Font Family */

$font-titles: 'Noto Sans', sans-serif;
$font-content: 'Raleway', sans-serif;

/*	Font Weight */

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

/*	Colors	*/

$black: #1d1d1d;
$offwhite: #fefefe;
$grey: #cbccce;
$lightgrey: #f8f8f8;
$mediumgrey: #a2a2a2;
$darkgrey: #7a7a7a;
$darkergrey: #444444;
