/*	Misc. */

	* {
		color: $darkergrey;
	}

	html, body {
		font-size: 16px;
		overflow-x: hidden;
	}

	.container {
		width: 90%;
		max-width: 980px;
		margin: 0 auto;
	}

	.container-large {
		padding-left: 5% !important;
		padding-right: 5% !important;
	}

	h1, h2 {
		font-size: em(25);
		font-weight: $bold;
		font-family: $font-titles;
		line-height: 1.3;
		color: $darkergrey;
	}

	h3 {
		font-size: em(18);
		font-weight: $bold;
		font-family: $font-titles;
	}

	p {
		font-size: em(14);
		font-weight: $light;
		font-family: $font-content;
		line-height: 1.3;
		margin-bottom: rem(20);

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.button-container {
		text-align: center;
		margin: 0 auto;
	}

	.button {
		font-family: $font-titles;
		font-weight: $bold;
		font-size: em(14);
		padding: rem(15) rem(35);
		border: rem(2) solid $darkergrey;
		box-sizing: border-box;
		display: inline-block;
		@include transition(all,ease-in-out, 0.2s);
		cursor: pointer;

		&:hover {
			background-color: $darkergrey;
			color: $offwhite;
		}

		&.button-reverse {
			background-color: $darkergrey;
			color: $offwhite;

			&:hover {
				color: $darkergrey;
				background-color: transparent;
			}
		}
	}

	.section-image {
		@include bg-img();
	}

	.triangle {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
		pointer-events: none;
		background-repeat: no-repeat;
		z-index: -1;
		background-size: cover;

		&.triangle-right {
			background-image: url(../images/triangle-right.png);
			background-position: right bottom;

			&.triangle-dark {
				background-image: url(../images/triangle-right-dark.png);
			}
		}

		&.triangle-left {
			background-image: url(../images/triangle-left.png);
			background-position: left bottom;

			&.triangle-dark {
				background-image: url(../images/triangle-left-dark.png);
			}
		}
	}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: rem(7.5) 0;
	display: inline-block;
	z-index: 999;
	transition: background-color ease-in-out 0.4s;

	* {
		transition: opacity ease-in-out 0.25s;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav {
		background-color: transparent;
		display: inline-block;
		width: calc(100% - #{rem(304)});
		vertical-align: middle;

		ul {
			margin:0;
			padding: 0;
			background-color: $black;
			transition: padding ease-in-out 0.2s;
			width: 100%;
			z-index: 999;

			li {
				list-style:none;
				float: left;

				a {
					color: white;
					font-size: em(13);
					font-family: $font-content;
					display: block;
					text-transform: uppercase;
					padding: rem(10) rem(25);
					letter-spacing: rem(1);
					width: auto;

					&:hover {
						color: $mediumgrey;
					}
				}

				&:first-of-type {
					a {
						padding-left: 0;
					}
				}

				&:last-of-type {
					margin-right: 0;
				}

				&.menu-item-has-children {
					position: relative;

					ul {
						display: none;
						position: absolute;
						top: 100%;
						left: 0;
						background-color: transparent;

						li {
							margin: 0;
							padding: 0;
							width: 100%;
							position: static;

							a {
								padding: rem(20) rem(25);
								background-color: $black;

								&:hover {
									background-color: $darkergrey;
									color: white;
								}

								&:after {
									display: none;
								}
							}

							ul {
								left: 100%;
								top: 0;

								li {
									a {
										background-color: white;
										color: $darkgrey;
										width: 100%;

										&:hover {
											background-color: white;
											color: $darkgrey;
											text-decoration: underline;
											color: black;
										}
									}
								}
							}
						}
					}

					> a {
						&:after {
							content:'+';
							font-size: rem(28);
							position: absolute;
							top: rem(3);
							font-weight: $light;
							margin-left: rem(2);
						}
					}
				}
			}
		}
	}

	#mobile-menu {
		display: none;
	}

	#header-phone {
		color: $grey;
		margin: rem(0) rem(15) rem(0) 0;
		vertical-align: middle;
		font-weight: $bold;
		font-family: $font-titles;
		letter-spacing: rem(1);

		img {
			height: rem(13);
			margin-right: rem(7.5);
		}

		&:hover {
			color: $offwhite;
		}
	}

	#logo {
		width: rem(155);
		height: auto;
		display: inline-block;
		vertical-align: middle;

		svg {
			width: 100%;
			height: 100%;
			fill: white;
		}
	}
}

body.sticky, body:not(.home) {
	header {
		background-color: $black;
		nav {
			ul {
				li {

					&.menu-item-has-children {

						ul {
							padding-top: rem(37);
						}
					}
				}
			}
		}
	}
}

body:not(.home) {
	header {
		position: relative;
	}

	main {
		padding: rem(30) 0 0;
	}
}

body.sticky {
	header {
		#logo {
			svg {
				fill: $grey;
			}
		}
	}
}

/*	Homepage	*/

	.main-banner {
		position: relative;
		
		.triangle {
			z-index: 5;

			&.triangle-left {
				background-size: 30%;
			}
			&.triangle-right {
				background-size: 75%;
			}
		}

		.banner-slide {
			.slide-image {
				height: 100vh;
				@include bg-img();

				&:before {
					content: ' ';
				    display: block;
				    position: absolute;
				    top: 0;
				    width: 100%;
				    height: 100%;
				    z-index: 1;
				    background-color: rgba(0,0,0,0.6);
				}
			}

			.banner-content {
				position: absolute;
				top: 35%;
				left: 0;
				right: 0;
				z-index: 2;

				p {
					color: rgba(255,255,255,0.7);
					font-weight: $light;
					max-width: rem(470);
					font-size: em(17);

					&.banner-counter {
						font-size: em(15);
						font-weight: $bold;
						margin: 0;
						color: white;

						span {
							font-size: rem(15);
							color: white;
							font-weight: regular;
						}
					}

					&.banner-title {
						margin: 0 0 rem(15);
						font-size: em(45);
						font-family: $font-titles;
						font-weight: $bold;
						max-width: rem(750);
						color: white;
					}
				}

				.button {
					color: white;
					border-color: white;
					margin-top: rem(25);

					&:hover {
						background-color: white;
						color: $darkergrey;
					}
				}
			}
		}
	}

	/*	About	*/

	#home-about {
		display: flex;
		position: relative;

		.triangle {
			background-size: 30%;
			opacity: 0.7;
		}

		.container-large {
			flex: 0 0 30%;
			padding: rem(150) 0;
			padding-right: 10% !important;

			h2 {
				font-family: $font-content;
				font-weight: $light;
				margin: 0 0 rem(25);
			}

			p {
				color: $mediumgrey;
			}

			.button {
				margin-top: rem(70);
			}
		}

		.section-image {
			flex: 1;
		}
	}

	/*	Testimonials	*/

	#home-testimonials {
		padding: rem(110) 0;
		background-color: $lightgrey;
		position: relative;
		overflow: hidden;

		&:before, &:after {
			content: ' ';
		    display: block;
		    position: absolute;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 1;
    		background-image: url(../images/overlay-diamond.png);
    		background-position: contain;
    		background-repeat: no-repeat;
    		background-position: center;
			opacity: 0.3;
			pointer-events: none;
		}

		&:before {
			left: 50%;
		}

		&:after {
			left: -50%;
		}

		.container {
			text-align: center;
			max-width: rem(500);
		}
		
		.flickity-page-dots {
			display: none;
		}

		p {
			font-size: em(33);
			font-family: $font-titles;
			font-style: italic;
			margin: 0;
		}
	}

	/*	Products	*/

	#home-products {
		display: flex;

		#products-wrapper {
			padding: rem(100) 0 rem(150);
			flex: 0 0 55%;
		
			h2 {
				margin: 0 0 rem(35);
			}

			.product-type {
				margin-bottom: rem(70);

				img {
					height: em(45);
					display: inline-block;
					margin-right: rem(15);
				}

				h3 {
					margin: 0 0 rem(20);
					display: inline-block;
				}

				.product-listing {
					display: flex;
					flex-flow: row wrap;
					margin: 0;
					padding: 0;
					
					li {
						flex: 0 0 25%;
						list-style: none;
						margin: rem(10) 0;
						padding-right: rem(10);
						box-sizing: border-box;

						a {
							font-family: $font-content;
							font-weight: $light;
							padding: rem(5) 0;
							@include transition(all, ease-in-out, 0.2s);

							&:hover {
								color: $grey;
							}
						}
					}
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		.section-image {
			flex: 1;
		}
	}

	/*	Services	*/

	#home-services {
		background-color: $lightgrey;
		padding: rem(115) 0 rem(130);
		position: relative;

		&:before {
		    content: ' ';
		    display: block;
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 1;
    		background-image: url(../images/overlay-diamond.png);
    		@include bg-img();
			opacity: 0.3;
			pointer-events: none;
		}

		h2 {
			margin: 0 0 rem(45);
		}

		#services-wrapper {
			display: flex;

			.service {
				flex-grow: 1;

				.service-content {
					display: inline-block;
					margin: 0 auto;
					text-align: left;
				}

				img {
					height: rem(40);
				}
				h3 {
					margin: rem(15) 0 rem(10);
				}
				p {
					max-width: rem(220);
				}
			}
		}

		.button-container {
			margin-top: rem(55);
		}
	}

	/*	Projects	*/

	#home-projects {
		display: flex;

		#projects-image {
			flex: 0 0 45%;
			position: relative;
			display: flex;
			align-items: center;
			transition: all ease-in-out 0.2s;

			&:before {
				background-color: rgba(0,0,0, 0.5);
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			p {
				font-size: em(40);
				color: white;
				font-weight: $bold;
				font-family: $font-titles;
				z-index: 5;
				margin: 0 auto;
				text-align: center;

				&:after {
					content: '';
					height: rem(3);
					width: rem(100);
					background-color: white;
					display: block;
					margin: rem(30) auto 0;
				}
			}

			&:hover {
				opacity: 0.9;
			}
		}

		.container-large {
			flex: 1;
			padding-left: 10% !important;
			padding: rem(130) 0 rem(160);
			position: relative;

			.triangle {
				opacity: 0.5;

				&.triangle-left {
					background-size: 60%;
				}
				&.triangle-right {
					background-size: 75%;
				}
			}

			h2 {
				margin: 0 0 rem(65);
			}

			h3 {
				margin: 0 0 rem(20);
			}

			p {
				opacity: 0.7;
				max-width: rem(330);

				&.project-counter {
					font-size: em(12);
					margin: 0 0 rem(15);
					opacity: 1;

					span {
						font-weight: $bold;
						font-size: rem(15);
					}
				}
			}

			.button {
				margin-top: rem(40);
			}

			.carousel {
				position: static;
				z-index: 3;

				.flickity-prev-next-button {
					display: block;
					border-radius: 0;
					bottom: 0;
					top: initial;
				    -webkit-transform: translateY(0); 
				    transform: translateY(0);
				    width: rem(80);
				    height: rem(80);
				    background-color: white;
				    z-index: 4;

				    svg {
				    	stroke: $black;
				    	fill: $black;
				    	stroke-width: rem(5);
				    	width: 50%;
				    	height: 50%;
				    	top: 30%;
				    	left: 25%;
				    }

				    &.previous {
						right: rem(80);
						left: initial;
						border-right: rem(1) solid black;
					}

					&.next {
						right: 0;
					}
				}
			}
		}
	}

	/*	Partners	*/

	#home-partners {
		background-color: $lightgrey;
		padding: rem(85) 0;

		.flickity-viewport {
			overflow: visible;
		}

		.carousel-cell {
			width: 21%;
			text-align: center;
			top: 50%;
  			transform: translateY(-50%);

  			img {
  				max-width: 50%;
  			}
		}
	}

	/*	Contact	*/

	#home-contact {
		display: flex;

		.container-large {
			flex: 0 0 35%;
			padding-right: 10%;
			padding: rem(135) 0;

			h2 {
				margin: 0 0 rem(25);
			}

			h3 {
				margin: rem(35) 0 rem(20);
			}
		}

		#contact-map {
			flex: 1;
		}
	}

/*	Secondary Pages	*/

	/*	About Page	*/

		#about-page {
			padding-top: 0;

			h2 {
				font-size: em(45);
				margin: 0 0 rem(35);
			}

			h3 {
				font-size: em(25);
			}

			p {
				font-size: em(24);
			}

			.main-banner {

				p {
					font-size: em(17);

					&.banner-counter {
						font-size: em(15);
					}

					&.banner-title {
						font-size: em(45);
					}
				}

				.banner-slide {
					.slide-image {
						height: calc(100vh - #{rem(110)});
					}
				}
			}


			#about-main {
				background-color: $lightgrey;
				padding: rem(150) 0;
				position: relative;

				.triangle {
					z-index: 5;
					background-size: 30%;
				}

				.container {
					display: flex;

					h2 {
						flex: 0 0 30%;
						padding-right: 30%;
					}

					p {
						flex: 1;

						&:first-of-type {
							margin-top: rem(70);
						}
					}
				}
			}

			#about-secondary {

				.container {
					position: relative;

					.content-container {
						padding: rem(150) 0;
						width: 40%;
						padding-left: 60%;
					}

					.section-image {
						order: 1;
						width: 55%;
						height: 0;
						padding-bottom: 70%;
						position: absolute;
						left: 0;
						bottom: rem(50);
						z-index: 6;

					}
				}
			}

			#about-projects {
				background-color: $lightgrey;

				#project-wrapper {
					display: flex;

					#project-content {
						flex: 0 0 40%;
						padding-right: 15%;
						margin-top: rem(230);

					}

					.section-image {
						flex: 1;
					}
				}

				.projects-slider {
					max-width: rem(420);

					h4 {
						font-family: $font-titles;
						font-size: em(18);
						font-weight: $regular;
					}

					p {
						font-size: em(14);
					}

					.button {
						margin-top: rem(40);
					}
				}
			}
		}


	/*	Services Page	*/

		#services-page {

			h1 {
				margin-bottom: rem(80);
			}

			.service-wrapper {
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
					background-image: url(../images/triangle-piece.png);
					opacity: 0.05;
					background-position: bottom left;
				}

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
					background-image: url(../images/triangle-piece.png);
					opacity: 0.05;
				}

				.container {
					display: flex;

					.section-image {
						flex: 1;
					}

					.service-content {
						flex: 0 0 42.5%;
						padding: rem(90) 0 rem(150) 7.5%;

						img {
							max-height: rem(40);
						}

						h2 {
							margin: rem(35) 0 rem(45);
						}

						h3 {
							margin: 0 0 rem(20);
							font-size: em(24);
							color: $darkgrey;
							opacity: 0.6;
							font-weight: $light;
							font-family: $font-content;
							line-height: 1.3;
						}

						p {
							color: $darkgrey;
							opacity: 0.6;
						}
					}

				}

				&:first-of-type {
					&:after {
						display: none;
					}
				}

				&:nth-of-type(even) {
					background-color: $lightgrey;

					&:before {
						background-position: bottom left;
						transform: rotateX(180deg);
					}

					&:after {
						transform: rotateY(180deg);
						background-position: bottom left;
					}

					.section-image {
						order: 2;
					}

					.service-content {
						padding: rem(90) 7.5% rem(150) 0;
					}
				}

				&:nth-of-type(odd) {
					&:after {
						transform: rotate(180deg);
						background-position: bottom left;
					}
				}

				&:last-of-type {
					&:before {
						display: none;
					}
				}
			}

			.content-blurb {
				background-color: #efefef;
				padding: rem(125) 0 rem(85);

				p {
					font-size: em(32);
					font-style: italic;
					font-family: $font-titles;
				}

				.button {
					margin-top: rem(40);
				}
			}
		}

	/*	Contact Page	*/

		#contact-page {
			.triangle {
				opacity: 0.7;
			}

			h1 {
				margin-bottom: rem(80);
			}

			#contact-about {
				.container {
					display: flex;

					#about-content {
						flex: 0 0 42.5%;
						padding: rem(70) 7.5% rem(40) 0;
						position: relative;

						p {
							max-width: rem(260);
							color: #a2a2a2;
						}

						#contact-location {
							text-align: right;
							margin-top: 35.5%;

							p {
								max-width: 100%;
								color: $black;
							}
						}
					}

					.section-image {
						flex: 1;
					}
				}
			}

			#contact-hours {
				background-color: #efefef;
				.container {
					display: flex;

					#contact-map {
						flex: 1;
					}

					#hours-content {
						flex: 0 0 42.5%;
						padding: rem(70) 0 25% 7.5%;
						background-color: white;
						position: relative;
						z-index: 2;

						h3 {
							margin: 0 0 rem(20);
							font-size: em(20);
						}
					}
				}
			}
		}

	/*	Single Product Page	*/

		#product-page {
			
			h1 {
				margin-bottom: rem(90);
			}

			#product-description {
				width: 40%;
				max-width: rem(280);

				p {
					color: $mediumgrey;
				}

				#related-projects {
					margin: rem(60) 0 50%;

					h3 {
						margin: 0 0 rem(10);
					}

					p {
						margin: 0 0 rem(10);

						a {
							text-decoration: underline;
							text-transform: capitalize;
						}
					}
				}
			}

			#product-slider-wrapper {
				background-color: $lightgrey;
				padding: rem(45) 0 rem(90);

				.container {
					display: flex;
					position: relative;

					#product-slider-container {
						position: absolute;
						right: rem(-30);
						bottom: rem(-30);
						width: 60%;
						padding: 0 rem(30) rem(30) 0;

						#product-slider {
							flex: 1;
							order: 2;

							.section-image {
								height: 0;
								padding-bottom: 120%;
								width: 100%;
							}
							
						}

						.triangle {
							background-size: 80%;
							opacity: 0.5;
							top: 0;
							right: 0;
							z-index: 99;
						}
					}

					#product-slider-nav {
						display: flex;
						order: 1;
						flex: 0 0 30%;
						padding-right: 10%;
						flex-wrap: wrap;
						justify-content: flex-end;

						.section-image {
							flex: 0 0 47.5%;
							height: 0;
							padding-bottom: 47.5%;
							cursor: pointer;
							opacity: 0.7;
							transition: all ease-in-out 0.2s;

							&:nth-of-type(even) {
								margin: 0 0 5% 5%;
							}

							&:last-of-type {
								margin-bottom: 0;
							}

							&:hover, &.is-selected {
								opacity: 1;
							}
						}
					}
				}
			}

			#product-blurb {
				padding: rem(125) 0 rem(110);
				position: relative;
				text-align: center;

				&:before {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-image: url(../images/overlay-diamond.png);
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					opacity: 0.5;
					z-index: 2;
					pointer-events: none;
				}

				p {
					font-style: italic;
					font-family: $font-titles;
					font-size: em(32);
					max-width: rem(550);
					margin: 0 auto;
				}

				.button {
					margin-top: rem(45);
				}
			}
		}

	/*	Single Project Page	*/

		#project-page {
			#project-info {
				display: flex;
				padding-bottom: rem(65);
				margin-bottom: rem(50);
				border-bottom: rem(2) solid $mediumgrey;

				h1 {
					margin-bottom: rem(40);
				}

				h2 {
					flex: 1.5;
					font-size: em(17);
					margin-top: 0;
					line-height: 1;
				}

				h3 {
					font-size: em(17);
					margin: 0 0 rem(30);
				}

				p {
					color: #mediumgrey;
				}

				a {
					color: $mediumgrey;
				}

				#project-products {
					flex: 1;

					p {
						margin: 0 0 rem(5);

						a {
							text-transform: capitalize;
						}
					}
				}

				#project-overview {
					flex: 1;
				}
			}
		}

		.grid-item {
			width: 48.5%;
			margin-bottom: 3%;
		}

		.gutter-sizer {
			width: 3%;
		}



		/*	Projects Archive	*/

			#project-archive {

				h1 {
					margin-bottom: rem(35);
				}

				#products-container {
					padding: rem(45) 0 rem(30);
					border-top: rem(1) solid $mediumgrey;
					border-bottom: rem(1) solid $mediumgrey;
					display: flex;
					width: 100%;
					flex-wrap: wrap;

					button {
						font-family: $font-content;
						font-weight: $light;
						font-size: em(14);
						border: none;
						background-color: transparent;
						padding: 0;
						text-align: left;
						margin-bottom: rem(15);
						cursor: pointer;
						flex: 0 0 23%;
						margin: 0 2% rem(15) 0;

						&:hover, &.active {
							text-decoration: underline;
						}

						&:focus {
							outline: none;
						}
					}
				}

				#products-navigation {
					display: none;

					h4 {
						text-align: center;
						font-family: $font-content;
					}
				}

				#projects-container {
					display: flex;
					height: auto !important;
					min-height: rem(600);
					padding: rem(60) 0 rem(70);

					h2 {
						margin: 0 0 rem(20);
					}

					.archive-project {
						flex: 1;
						max-width: 47.5%;
						position: static !important;

						&:nth-of-type(odd) {
							padding-right: 5%;
						}

						.section-image {
							padding-bottom: 65%;
							display: block;
							position: relative;
							overflow: hidden;

							.project-overlay {
								width: 95%;
								height: 95%;
								position: absolute;
								bottom: 13%;
								left: 10%;
								background-repeat: no-repeat;
								background-size: cover;
								background-image: url(../images/projects-overlay.png);
								display: flex;
								flex-direction: column;
								justify-content: flex-end;
								opacity: 0;
								transition: opacity ease-in-out 0.3s;

								span {
									font-family: $font-content;
									font-size: em(12);
									text-transform: uppercase;
									margin: 0 rem(15) rem(15) rem(20);
								}

								img {
									width: 50%;
									max-width: rem(80);
									display: inline-block;
									margin-left: rem(15);
								}
							}

							&:hover {
								.project-overlay {
									opacity: 1;
								}
							}
						}
					}
				}
			}



/*	Footer	*/

	footer {
		background-color: $lightgrey;
		background-image: url(../images/overlay-diamond.png);
		background-repeat: no-repeat;
		background-position: center 201%;
		background-size: rem(428);

		#footer-pods {
			display: flex;
			padding: rem(75) 0 rem(25);

			.footer-pod {
				flex: 2;

				h4 {
					font-weight: $bold;
					font-size: em(14);
					font-family: $font-titles;
					margin: 0 0 rem(30);
					text-transform: uppercase;
				}

				p {
					color: #7d7d7d;
					max-width: rem(260);
					font-size: em(14);
				}

				ul {
					padding: 0;
					margin: 0;
					list-style: none;

					li {
						margin-bottom: rem(14);

						a {
							font-size: em(14);
							color: #7d7d7d;
							font-weight: $light;
							font-family: $font-content;

							&:hover {
								color: $black;
							}
						}

						&:last-of-type {
							margin-bottom: 0;
						}
					}
				}

				a[href^="mailto"] {
					text-decoration: underline;
				}

				&.footer-links {
					display: flex;

					.links-wrapper {
						flex: 1;
					}
				}

				&:first-of-type {
					flex: 0 0 35%;
				}

				&:last-of-type {
					flex: 1;
				}
			}
		}

		#footer-about {
			border-top: rem(1) solid $grey;
			.container {
				display: flex;
				padding: rem(25) 0 rem(30);

				> * {
					flex: 1;

					&#footer-copyright {
					}

					&#footer-social {
						text-align: center;

						a {
							margin-right: rem(20);

							i {
								font-size: em(18);
								color: $darkgrey;

								&:hover {
									color: $mediumgrey;
								}
							}

							&:last-of-type {
								margin-right: 0;
							}
						}
					}

					&#footer-thrive {
						text-align: right;
					}
				}

				p {
					margin: 0;
					font-size: em(12);

					a {
						font-weight: $bold;

						&:hover {
							color: $mediumgrey;
						}
					}
				}
			}
		}
	}

/*	Plugins	*/

	.carousel-cell {
		width: 100%;
	}

	.flickity-page-dots, .flickity-prev-next-button {
		display: none;
	}

	/*	Flickity Fade	*/

	.flickity-fade {
		.flickity-slider {
			transform: none !important;

			.carousel-cell {
				left: 0 !important;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
				z-index: -1;

				&.is-selected {
					opacity: 1;
					z-index: 0
				}
			}
		}
	}

/*	Google Maps API	*/

	a[href^="http://maps.google.com/maps"]{display:none !important}
	a[href^="https://maps.google.com/maps"]{display:none !important}

	.gmnoprint a, .gmnoprint span, .gm-style-cc {
	    display:none;
	}
	.gmnoprint div {
	    background:none !important;
	}