@media only screen and (max-width: 1200px) {

	#home-about {
		flex-direction: column;

		.section-image {
			padding-bottom: 56.25%;
		}

		.container-large {
			padding: rem(40) 0;
		}
	}

	#home-products {
		flex-direction: column;

		#products-wrapper {
			padding-bottom: rem(100);
		}

		.section-image {
			padding-bottom: 56.25%;
		}
	}
}

@media only screen and (max-width: 1030px) {

	#about-page {
		#about-main {
			.container {
				flex-direction: column;
			}
		}
	}

	#project-archive {
		.container {
			#products-container {
				button {
					flex: 0 0 31.33%;
				}
			}
		}
	}
}

@media only screen and (min-width: 960px) {
	header {
		nav {
			ul {
				li {
					&.menu-item-has-children {
						&:hover {
							> ul {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 960px) {

	header {
		nav {
			position: absolute;
			top: 100%;
			left: -100%;
			padding: rem(10) 0 rem(10) 5%;
			box-sizing: border-box;
			width: 100%;
			background-color: $black;
			transition: all ease-in-out 0.3s;

			ul {
				li {
					a {
						&:hover {
							background-color: $black !important;
						}
					}
				}
			}

			ul {
				
				> li {
					float: none;

					> a {
						padding: rem(15) 0;

						&:after {
							top: rem(10) !important;
							right: 5%;
						}
					}

					> ul {
						position: static !important;
						display: none;
						padding: 0 !important;

						> li {

							> a {
								padding: rem(10) 0 rem(10) rem(20) !important;
								font-size: em(11);
							} 
						}
					}
				}
			}
		}

		#mobile-menu {
			display: block;
			width: rem(30);
			height: rem(20);
			display: inline-block;
			position: relative;
			cursor: pointer;

			span {
				width: 100%;
				height: 2px;
				background-color: white;
				position: absolute;
				transition: all ease-in-out 0.3s;
				right: 0;
				display: block;

				  &:first-child  {
				  	top: 0;
				  }

				  + span {
				  	top: 50%;
				  }

				  &:last-child {
				  	top: 100%;
				  }
			}
		}

		&.active {

			background-color: $black;

			nav {
				left: 0;
			}

			#mobile-menu {
				span{
			 		&:first-of-type {
						transform: rotate(45deg);
						top: 50%;
					}
					&:nth-of-type(2) {
						right: -1.25rem;
					    width: 0;
					    opacity: 0;
					}
					&:last-of-type {
						transform: rotate(-45deg);
			    		top: 50%;
					}
				}
			}
		}
	}

	#home-products {
		#products-wrapper {
			.product-type {
				.product-listing {
					li {
						flex: 0 0 33.33%;
					}
				}
			}
		}
	}

	#about-page {
		#about-secondary {
			padding: rem(40) 0 rem(80);
			.container {
				.content-container {
					padding: rem(40) 0;
					width: 100%;
				}

				.section-image {
					position: static;
					width: 100%;
					padding: 0 0 100% 0;
					background-size: contain;
				}
			}
		}

		#about-projects {
			padding: rem(40) 0 rem(80);
			.container {
				#project-wrapper {
					flex-direction: column;

					#project-content {
						padding: rem(40) 0 rem(30);
						margin: 0;
						width: 100%;
					}

					.section-image {
						width: 100%;
						padding: 0 0 85% 0;
						background-size: contain;
					}
				}
			}
		}
	}

	footer {
		#footer-pods {
			flex-direction: column; 

			.footer-pod {

				h4 {
					margin: rem(40) 0 rem(10);
				}

				&:first-of-type {
					h4 {
						margin-top: 0;
					}
				}
			}

			.footer-links {
				flex-direction: column;

				.links-wrapper {
					ul {
						li {
							margin: rem(5) 0;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 900px) {

	#project-archive {
		#projects-container {
			flex-direction: column;

			.archive-project {
				max-width: 100%;
			}

			.archive-project:nth-of-type(odd) {
				padding: 0;
			}
		}
	}
}

@media only screen and (max-width: 780px) {

	#home-contact {
		flex-direction: column;

		#contact-map {
			padding-bottom: 56.25%;
		}

		.container-large {
			padding: rem(30) 0;
		}
	}

	#home-partners {
		.carousel-cell {
			img {
				max-width: 75%;
			}
		}
	}

	#project-archive {
		.container {
			#products-container {
				button {
					flex: 0 0 48%;
				}
			}
		}
	}

	#services-page {
		.container {
			h1 {
				margin-bottom: rem(20);
			}
		}

		#services-container {
			.service-wrapper {

				&:nth-of-type(even) {
					.container {
						flex-direction: column;
					}
				}
				.container {
					flex-direction: column-reverse;

					.section-image {
						padding-bottom: 100%;
						margin-bottom: rem(10);
					}

					.service-content {
						padding: rem(40) 0;
					}
				}
			}
		}	
	}

	#contact-page {
		.container {
			width: 100%;

			h1 {
				margin: 0 0 0 5%;
			}
		}

		#contact-about {
			.container {
				flex-direction: column;

				#about-content {
					padding: 0 5% rem(40);

					#contact-location {
						text-align: left;
					}
				}	

				.section-image {
					padding-bottom: 56.25%;
				}			
			}
		}

		#contact-hours {
			.container {
				flex-direction: column-reverse;

				#contact-map {
					padding-bottom: 56.25%;
				}

				#hours-content {
					padding: rem(40) 5%;
				}
			}
		}

		.triangle {
			left: 35px;
		}
	}

	#product-page {
		.container {
			h1 {
				margin-bottom: rem(40);
			}
			#product-description {
				width: 100%;
				max-width: 100%;

				#related-projects {
					margin: 0 0 rem(40);
				}
			}
		}

		#product-slider-wrapper {
			.container {
				flex-direction: column;

				#product-slider-container {
					position: initial;
					width: 100%;
					max-width: rem(360);
					margin: 0 auto;
					padding: 0 0 rem(30);

					.triangle {
						display: none;
					}
				}

				#product-slider-nav {
					justify-content: center;
					padding: 0;

					.section-image {
						flex: 0 0 21.25%;
						margin: 0 0 0 5%;
						padding-bottom: 22%;

						&:nth-of-type(even) {
							margin: 0 0 0 5%;
						}

						&:first-of-type {
							margin: 0;
						}
					}
				}
			}
		}
	}

	#project-page {
		.container {
			#project-info {
				flex-direction: column;

				h3 {
					margin-bottom: rem(10);
				}

				#project-products {
					margin: rem(30) 0 rem(20);
				}
			}
		}
	}

	.grid-item {
		width: 100% !important;
	}
}

@media only screen and (max-width: 680px) {

	#home-testimonials {
		font-size: 12px;
		padding: rem(50);
	}

	#home-services {
		text-align: center;

		#services-wrapper {
			flex-direction: column;

			.service {
				margin: 0 0 rem(40) 0 !important;
				text-align: center;

				.service-content {
					text-align: center;
				}

				&:last-of-type {
					margin-bottom: 0 !important;
				}
			}
		}
	}
}

@media only screen and (max-width: 560px) {


	.main-banner {
		.banner-slide {
			.slide-image {
				height: auto !important;
			}
			.banner-content {
				font-size: 12px;
				position: relative;
				padding: 50% 0;
			}
		}
	}

	#project-archive {
		#products-navigation {
			display: block;
		}

		.container {
			#products-container {
				overflow: scroll;
				flex-wrap: nowrap;
				padding: rem(35) 0;

				button {
					margin: 0;
					text-align: center;
				}
			}
		}
	}

	#header-contact {
		display: flex;
		align-items: center;

		#logo {
			width: rem(115);
		}
	}
}

@media only screen and (max-width: 420px) {

	#home-products {
		#products-wrapper {
			.product-type {
				.product-listing {
					justify-content: space-between;
					li {
						flex: 0 0 46%;
					}
				}
			}
		}
	}

	#home-partners {
		padding: rem(30) 0;

		.carousel-cell {
			width: 34%;
		}
	}

	#home-services {
		#services-wrapper {
			.service {
				margin-left: 12%;

				&:first-of-type {
					margin-left: 2%;
				}
			}
		}
	}

	#about-page {
		h2 {
			font-size: em(32) !important;
		}

		p {
			font-size: em(18);
		}

		#about-main {
			padding: rem(100) 0;
			.container {
				h2 {
					font-size: em(32);
				}

				p {
					&:first-of-type { 
						margin: 0;
					}
				}
			}
		}
	}

	#services-page {
		.content-blurb {
			.container {
				p {
					font-size: 22px;
					text-align: center;
				}
			}
		}
	}

	footer {
		#footer-about {
			.container {
				flex-direction: column;

				#footer-social {
					text-align: left;
					margin: rem(15) 0;
				}

				#footer-thrive {
					text-align: left;
				}
			}
		}
	}
}

@media only screen and (max-width: 320px) {

	#home-services {
		padding: rem(70) 0;
		#services-wrapper {
			.service {
				&:first-of-type {
					margin-left: 0;
				}
			}
		}
	}

	#home-products {
		#products-wrapper {
			.product-type {
				.product-listing {
					li {
						a {
							font-size: em(13);
						}
					}
				}
			}
		}
	}

	#contact-page {
		.triangle {
			left: 0;
		}
	}

	#project-archive {
		.container {
			#products-container {
				padding-left: 5%;
				padding-right: 5%;
				width: 100%;
				box-sizing: border-box;

				button {
					margin: 0 10% 0 0;
					white-space: nowrap;
					flex: auto;
				}
			}
		}
	}

	#header-contact {

		#header-phone {
			font-size: em(12);
		}
		#logo {
			width: rem(90);
		}
	}
}

















